body{
   background-color: white;
   font-style: italic;
   border: 15px solid DarkTurquoise;
}
#cc{
 background-color:LightCyan ;
 color: Teal;
 text-align:center;}

p {
  text-align:left;
  font-family: Tahoma, Verdana, sans-serif;
}

b {
  color: Teal;
}
h3{
  border: 3px solid LightCyan;
  color: Teal;
  text-align:center;
  font-family: "Times New Roman", Times, serif;
}
ul
{
 font-family: Tahoma, Verdana, sans-serif;
 list-style-type: square;
}
#yy{
   position:absolute; top:10px;
   color: Teal;
  border: 5px solid DarkTurquoise;
  height: 215px;
  width:10%;
}

th, td {
  border-style:solid;
  border-color: #96D4D4;
  color:teal;
  text-align:center;
}
}